@import "colors";
@import "font";

html,
body {
    height: 100%;

    .bg-section {
        background-color: $primary;
        padding: 6rem 0;
    }

    .bg-ingredient {
        background-color: $alternative;
    }

    .bg-promise {
        background: $third;
        padding: 8rem 0;
    }

    .icon-fa {
        font-size: 52px;
    }

    .h5-color {
        color: $primary;
    }

    .btn-get-formula {
        border: 1px solid white;
        border-radius: 50px;

        &:hover {
            background-color: white;
            color: $alternative !important;
        }
    }

    .btn-natura {
        border-radius: 50px;
        border: 1px solid white;
        color: white;

        &:hover {
            background-color: $secondary;
        }
    }

    .btn-natura-secondary {
        border-radius: 50px;
        border: 1px solid white;
        background-color: $primary;
        color: white;

        &:hover {
            background-color: $alternative;
            color: white;
        }
    }

    .hero {
        background: black url("/assets/images/hero.jpg") no-repeat center;
        min-height: 100%;
        background-size: cover;
    }

    .products-wrapper {
        margin-top: -100px;
        opacity: 0;
        transition: ease-in-out 0.3s;
    }

    .scrolling-wrapper {
        overflow-y: scroll;
        white-space: nowrap;
        padding: 0 4rem;

        @media screen and (max-width: 1440px) {
            padding: 0 9rem;
        }

        @media screen and (max-width: 1360px) {
            padding: 0 7rem;
        }

        @media screen and (max-width: 1280px) {
            padding: 0 4rem;
        }

        .card {
            white-space: normal;
            margin: 20px;
            width: 20rem;
            display: inline-block;
            color: black;
            box-shadow: 0 8px 10px -10px black;
        }

        @media screen and (max-width: 415px) {
            padding: 0;
        }
    }

    .navbar {
        transition: ease-in-out 0.3s;
    }

    .logo-brand {
        margin-left: -15px;
    }

    .mt-6 {
        margin-top: 10rem;
        @media screen and (max-width: 414px) {
            margin-top: 5rem;
        }
    }

    .btn-outline-primary {
        border-color: white;
        color: white;
        border-radius: 20px;

        &:hover {
            background-color: white;
            color: $primary;
            border-color: white;
        }
    }

    .onScrollNav {
        color: black !important;

        &:hover {
            text-decoration: underline;
        }
    }

    // Override
    .btn-primary {
        background-color: $secondary;
        border: none;
        border-radius: 50px;

        &:hover {
            background-color: $primary;
        }
    }

    .py-5 {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .navbar-toggler-icon.icon-bar {
        background-color: white !important;
    }
}
