@import "colors";
@import "font";

html,
body {
    height: 100%;

    .bg-section {
        background-color: $primary;
        padding: 5rem 0;
    }

    .bg-ingredient {
        background-color: $alternative;
    }

    .h5-color {
        color: $primary;
    }

    .btn-get-formula {
        border: 1px solid white;
        border-radius: 10px;

        &:hover {
            background-color: white;
            color: $primary !important;
        }
    }

    .hero {
        background: black
            url("https://images.unsplash.com/photo-1532170579297-281918c8ae72")
            no-repeat top right;
        min-height: 100%;
        background-size: contain;
    }

    .scrolling-wrapper {
        overflow-y: scroll;
        white-space: nowrap;
        padding: 0 4rem;

        .card {
            white-space: normal;
            margin: 20px;
            width: 20rem;
            display: inline-block;
            color: black;
        }

        @media screen and (max-width: 415px) {
            padding: 0;
        }
    }

    .mt-6 {
        margin-top: 6rem;
    }

    .btn-outline-primary {
        border-color: white;
        color: white;
        border-radius: 20px;

        &:hover {
            background-color: white;
            color: $primary;
            border-color: white;
        }
    }

    .onScrollNav {
        color: $primary !important;

        &:hover {
            text-decoration: underline;
        }
    }

    // Override
    .btn-primary {
        background-color: $secondary;
        border: none;
        border-radius: 50px;

        &:hover {
            background-color: $primary;
        }
    }

    .py-5 {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .navbar-toggler-icon.icon-bar {
        background-color: white !important;
    }
}
